---
import Layout from "../layouts/Layout.astro";

const blob = Math.floor(Math.random() * 3) + 1;
var pathname = new URL(Astro.request.url).pathname;
---

<Layout title="Not found | Nicholas Charriere">
  <main class="text-center">
    <div
      class="font-mono rounded mt-4 px-2 py-0.5 border border-gray-300 w-fit mx-auto"
    >
      {pathname}
    </div>
    <img src=`/blob${blob}.png` alt="404" class="w-1/2 mx-auto opacity-70" />
    <p class="py-1">This is not the url you're looking for.</p>
  </main>
</Layout>
