---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection("blog", ({ data }) => {
  return data.published;
});

export const shortDate = (date: Date) => {
  return date.toLocaleDateString("en-US", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
};
---

<Layout title="Blog">
  <h1 class="text-4xl mb-6 font-bold text-heading">Blog</h1>

  <ul class="list-none p-0">
    {
      allBlogPosts
        .filter((post) => post.data.published)
        .sort((a, b) =>
          a.data.published === undefined || b.data.published === undefined
            ? 0
            : a.data.published < b.data.published
              ? 1
              : -1,
        )
        .map(
          (post) =>
            post.data.published && (
              <li class="flex mb-1">
                <span class="flex-[0_0_130px] text-gray-500 italic text-sm">
                  {shortDate(post.data.published)}
                </span>
                <a href={`/blog/${post.slug}`} class="text-link hover:underline">
                  {post.data.title}
                </a>
              </li>
            ),
        )
    }
  </ul>
</Layout>
