---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects | Nicholas Charriere" showHome={true}>
  <h1 class="text-4xl mt-4 font-bold">Projects</h1>
  <div class="flex flex-col">
    <a
      href="https://srcbook.com"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Srcbook</h2>
    </a>
    <p class="max-w-xl pt-1">
      Currently working on a new TypeScript notebook product. Our mission is to
      help TypeScript teams prototype and ship applications faster.
    </p>
    <a
      href="https://github.com/nichochar"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Open source</h2>
    </a>
    <p class="max-w-xl pt-1">
      I have contributed to many open source projects. I maintained pymemcache
      and snappass during my tenure at Pinterest. Axflow and Srcbook are also
      open-source products I've built in my current company.
    </p>
    <a
      href="https://blockchainsmokers.xyz"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Blockchainsmokers</h2>
    </a>
    <p class="max-w-xl pt-1">
      I was curious about blockchain technology, so I built an NFT collection to
      learn more about it. Art and code were all from me.
    </p>
    <a
      href="https://avostories.com"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Avostories</h2>
    </a>
    <p class="max-w-xl pt-1">
      Write for 5 minutes, every day. I built this app to help my wife and other
      writers develop a daily habit through gamification.
    </p>
    <a
      href="https://bytesizetheories.com"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Byte Size Theories</h2>
    </a>
    <p class="max-w-xl pt-1">
      A blog focused on small bites of knowledge in software & startups.
    </p>
    <a
      href="https://paragraph.xyz/@nichochar"
      class="hover:text-froly-500 transition-all duration-300"
    >
      <h2 class="text-xl font-medium pt-6">Web3 in 420</h2>
    </a>
    <p class="max-w-xl pt-1">
      Another blog, focused on digestible explanations of web3 concepts.
    </p>
  </div>
</Layout>
