---

---

<div
  class="prose
  prose-a:text-link
  prose-a:no-underline
  hover:prose-a:underline
  prose-p:text-body
  prose-h1:text-heading
  prose-h2:text-heading
  prose-h3:text-heading
  prose-img:max-w-full
  prose-img:rounded-none
  prose-strong:text-heading
  pt-6"
>
  <slot />
</div>
