---

---

<div
  class="prose dark:prose-invert prose-a:text-froly-500 prose-p:text-justify prose-img:rounded-xl
  prose-a:text-blue-600
  prose-p:text-justify
  prose-img:rounded-xl
  prose-a:text-text-700
  prose-a:font-medium
  prose-a:underline
  hover:prose-a:text-froly-500
  prose-a:transition-all
  prose-a:duration-200
  hover:prose-a:no-underline
  prose-a:underline-offset-2
  prose-p:leading-relaxed
  prose-p:text-text-500
  prose-h1:text-text-500
  prose-h3:text-text-500
  prose-h2:text-text-500"
>
  <slot />
</div>
